.list {
    background: hsl(0, 0%, 97%);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    overflow: hidden;
    margin: 0 0 2rem;
    transition: background 300ms;

    &[active] {
        background: hsl(0, 0%, 95%);
    }

    .list-header {
        color: $text;
        background: white;
        border-bottom: 1px solid hsl(0, 0%, 91%);
        padding: 1rem 1.25rem;
        display: flex;
        align-items: center;
        line-height: 1.0;
        vertical-align: middle;
        transition: all 300ms;

        .bulk-actions {
            margin-left: auto;
            display: flex;
            align-items: center;
        }

        .bulk-action {
            @include no-select();
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &[active] {
            color: white;
            background: $blue;
        }

        .checkbox[active] { color: white; }
    }

    .list-content {
        position: relative;
        padding: 0.5rem 0;
    }

    .list-item {
        display: flex;
        align-items: center;
        padding: 0 1.25rem;
        background: transparent;
        transition: background 200ms;

        &[active] {
            background: white;
        }

        .list-item-content {
            padding: 1rem 0;
            display: flex;
            align-items: center;
            flex-grow: 1;

            & > div {
                padding: 0 0.75rem;
                flex-shrink: 0;

                p {
                    margin: 0 0 8px;
                    font-size: 15px;
                    color: $text;
                }

                p:last-child { margin-bottom: 0; }
                .dim  { color: lighten($text, 20%); }
            }

            .list-badge {
                margin-left: 0.5rem;
                background: $gold-from;
                padding: 3px 5px;
                border-radius: 2px;
                font-family: "Roboto", Helvetica, sans-serif;
                font-size: 13px;
                line-height: 1.0;
                color: $gold-text;
                text-transform: lowercase;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            }
        }

        .progress-bar {
            width: 220px;
            height: 6px;
            background: hsl(0, 0, 90%);
            border-radius: 4px;
            overflow: hidden;

            .progress {
                display: block;
                background: $progress-active;
                height: 6px;
            }

            .progress-completed {
                background: linear-gradient(0deg, $purple-from, $purple-to);
            }
        }
    }
}

#promo-code-icon {
    padding: 0 0.75rem;
    i { font-size: 26px; }
}

#promo-code-code {
    font-weight: bold;
}

#promo-code-discount {
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}

#support-article-title,
#order-reference,
#promo-code-code,
#user-name {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#user-ip {
    font-family: "Roboto Mono", monospace;
}

#order-reference {
    text-transform: uppercase;
}

#order-user {
    color: lighten($text, 20%);
    span { color: $text; }
}

#policy-badge,
#admin-badge,
#refunded-badge {
    background: $purple-from;
    color: $purple-text;
}

#active-badge {
    background: $green;
    color: $green-text;
}

#needs-shipping-badge {
    background: $teal;
    color: $teal-text;
}