.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 100%);
    box-shadow: 6px 0 20px rgba(0, 0, 0, 0.05);

    .logo {
        padding: 2.5rem 2.25rem 0.25rem;
        width: 100%;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: hsl(0, 0%, 45%);

        li[active] {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 5px;
                background: $gold-from;
            }

            a, i{
                color: hsl(0, 0%, 35%);
            }
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-shrink: 0;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            padding: 0.75rem 0.5rem;
            outline: none;
            vertical-align: middle;
            text-align: center;
            font-size: 14px;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }

        i {
            color: hsl(0, 0%, 50%);
            margin-bottom: 0.5rem;
            font-size: 21px;
        }
    }
}

@media (min-width: 1000px) {

    $navigation-width: 285px;

    .admin-wrapper {
        margin-left: $navigation-width;
    }

    .navigation {
        top: 0;
        right: auto;
        height: 100vh;
        width: $navigation-width;

        ul {
            display: block;
            margin: 1.5rem 0;

            a {
                flex-direction: row;
                text-align: left;
                padding: 0.55rem 1.75rem;
                font-size: 15px;
                line-height: 1;
            }

            i {
                margin-bottom: 0;
                margin-right: 1.25rem;
            }
        }
    }
}