.quilt {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));

    .quilt-item {
        height: 100%;
    }

    .quilt-body {
        background: white;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        min-height: 200px;
        height: calc(100% - 2rem);
        overflow: hidden;
    }

    .quilt-item-header {
        font-size: 15px;
        p { margin: 0 0 1rem; }
    }
}