form {
    font-size: 15px;
    margin-bottom: 3rem;

    .buttons {
        margin-top: 3rem;

        .button { margin-right: 0.5rem; }
        .button:last-child { margin-right: 0; }
    }

    & > div {
        margin: 0 0 2rem;

        &.conjoined {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;

            & > div { margin-right: 2rem; }
            & > *:last-child { margin-right: 0; }
        }

        label {
            display: block;
            margin: 0 0 0.25rem;
            line-height: 1.5;
            font-weight: 700;
        }

        p {
            color: lighten($text-on-light, 30%);
            line-height: 1.5;
            margin: 0 0 0.75rem;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="date"],
        textarea {
            background: white;
            border: 1px solid $border-color;
            border-radius: 2px;
            padding: 0.5rem 0.6rem;
            font-family: "Roboto", sans-serif;
            font-size: 15px;
            margin: 2px 0 0;

            &:focus {
                //outline: 1px solid $admin-anchor-active;
            }
        }

        input[type="text"],
        input[type="email"] {
            width: 300px;
        }

        input[type="number"] {
            width: 100px;
            font-family: "Roboto Mono", monospace;
        }

        textarea {
            width: 400px;
            min-height: 150px;
        }

        #promo_code_code {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: "Roboto Mono", monospace;
        }

    }

    & > *:last-child { margin-bottom: 0; }
}