<% content_for :title do %>Addresses<% end %>

<h1>Addresses</h1>
<p><%= link_to 'Create a new address.', new_account_address_path %></p>

<ul>
    <% @addresses.each do |address| %>
        <li><%= link_to address.line_one, edit_account_address_path(address) %></li>
    <% end %>
</ul>