<% content_for :title do %>Support<% end %>

<div class="hero">
    <div class="wrapper">
        <h1>Support</h1>
        <p>Looking for help? Check out these featured articles, or search for something more specific.</p>

        <%= render_search support_articles_path, 'Search articles' %>
    </div>
</div>

<div class="wrapper">

    <h1>Guides</h1>

    <div class="article-list">
        <% @articles.each do |article| %>
            <% if article.guide? %>
                <%= render article %>
            <% end %>
        <% end %>
    </div>

    <!-- Policies -->
    <h1>Policies</h1>

    <div class="article-list">
        <% @articles.each do |article| %>
            <% if article.policy? %>
                <%= render article %>
            <% end %>
        <% end %>
    </div>

    <!-- Misc -->
    <h1>Miscellaneous</h1>

    <div class="article-list">
        <% @articles.each do |article| %>
            <% if article.miscellaneous? %>
                <%= render article %>
            <% end %>
        <% end %>
    </div>
</div>