<div class="hero">
    <div class="wrapper">
        <h1>Luke Jamie Apparel</h1>
        <p>This text is going to be replaced once the website is completed.</p>

        <div class="featured-items">
            <p>Featured</p>
            <div class="masonry masonry-large">
                <%= render @products %>
            </div>
        </div>

    </div>
</div>