<div class="list-item" data-id="<%= support_article.slug %>">

    <!-- Used to select an item for bulk actions -->
    <div class="checkbox">
        <i class="material-icons">&#xE835;</i>
    </div>

    <%= link_to edit_admin_support_article_path(support_article), class: 'list-item-content' do %>

        <!-- Article information -->
        <div style="flex-grow: 1">
            <p id="support-article-title">
                <%= support_article.title %>

                <% if support_article.guide? %>
                    <span class="list-badge" id="guide-badge">guide</span>
                <% elsif support_article.policy? %>
                    <span class="list-badge" id="policy-badge">policy</span>
                <% end %>
            </p>

            <p id="support-article-description"><%= truncate support_article.description, length: 100%></p>
        </div>

    <% end %>

</div>