<% content_for :subtitle do %>Edit article<% end %>

<div class="admin-header">
    <h1>Edit article</h1>
</div>

<div class="admin-wrapper">
    <%= render 'form' %>
    <%= render 'admin/copyright' %>
</div>
