<% content_for :subtitle do %>Edit article<% end %>

<div class="admin-content-header">
    <h1>Edit article</h1>
    <p>This article will be automatically posted to the knowledgebase.</p>
</div>

<%= render 'form' %>
