<tr>
    <td><%= promo_code.code %></td>
    <td class="grow"><%= promo_code.label %></td>
    <td><%= promo_code.discount %>%</td>
    <td><div class="progress-bar">
        <span class="progress" style="<%= promo_code.percentage %>%"></span>
    </div></td>
</tr>