<% content_for :subtitle do %>Edit <%= @promo_code.code %><% end %>

<div class="admin-header">
    <h1>Edit promo code</h1>
</div>

<div class="admin-wrapper">
    <%= render 'form' %>
    <%= render 'admin/copyright' %>
</div>
