<% content_for :subtitle do %>Edit <%= @promo_code.code %><% end %>

<div class="admin-content-header">
    <h1>Edit promo code</h1>
    <p>Users will be able to use this code for as long as it's valid.</p>
</div>

<%= render 'form' %>
