<% content_for :subtitle do %>Promo codes<% end %>

<!-- Controls for dealing with lists -->
<div class="list-controls">

    <%= render_search admin_promo_codes_search_path, 'Search promo codes' %>

    <!-- Create new promo code-->
    <%= link_to t('admin.promo_code.new'), new_admin_promo_code_path, class: 'button' %>

</div>

<!-- Paginated list of all promo codes -->
<div class="list">

    <%= render_list_header do %>

        <!-- Delete a promo code -->
        <div class="bulk-action" id="delete-promo-code">
            <i class="material-icons">&#xE872;</i>
            <span>Delete</span>
        </div>

    <% end %>


    <% if not @promo_codes.empty? %>
        <div class="list-content">
            <%= render partial: 'admin/promo_codes/promo_code',
                       collection: @promo_codes,
                       cached: true %>
        </div>
    <% else %>
        I'm empty. <!-- TODO -->
    <% end %>

</div>