<% content_for :subtitle do %>Promo codes<% end %>

<div class="admin-content-header">
    <h1>Promo codes</h1>
    <p><%= t('promo_code_description') %></p>
</div>

<%= link_to t('new_promo_code'), new_admin_promo_code_path %>


<% if not @promo_codes.empty? %>
    <%= render @promo_codes %>
<% else %>
    I'm empty
<% end %>