<% content_for :subtitle do %>Promo codes<% end %>

<div class="admin-content-header">
    <h1>Promo codes</h1>
    <p><%= t('promo_code_description') %> <%= link_to t('new_promo_code'), new_admin_promo_code_path %></p>
</div>


<% if not @promo_codes.empty? %>
    <div class="admin-list">
        <%= render @promo_codes %>
    </div>
<% else %>
    I'm empty
<% end %>

<%= paginate @promo_codes %>