<% content_for :subtitle do %>New promo code<% end %>

<div class="admin-header">
    <h1>Create a promo code</h1>
    <p>Users will be able to use this code for as long as it's valid.</p>
</div>

<%= render 'form' %>
