<% content_for :subtitle do %>New promo code<% end %>

<div class="admin-header">
    <!-- TODO Add a link back to the promo codes page -->
    <h1>Create a promo code</h1>
</div>

<div class="admin-wrapper">
    <%= render 'form' %>
    <%= render 'admin/copyright' %>
</div>
