<% content_for :subtitle do %>Products<% end %>

<div class="admin-content-header">
    <h1>Products</h1>
    <p><%= t('product_description') %></p>
</div>

<div class="tools">

</div>

<div class="infinite-masonry">
    <%= render @products %>
</div>

<%= paginate @products %>