<% content_for :subtitle do %>New product<% end %>

<div class="admin-header">
    <h1>Create a new product</h1>
</div>

<div class="admin-wrapper">
    <%= render 'form' %>
    <%= render 'admin/copyright' %>
</div>