<% content_for :subtitle do %>New product<% end %>

<div class="admin-header">
    <h1>Create a new product</h1>
    <p>Products created here will automatically show up on the store front.</p>
</div>

<%= render 'form' %>