.admin-list {
    position: relative;
    background: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    overflow: hidden;
    padding: 0.75rem 0;
    margin: 0 0 2rem;

    & > *:last-child { border-bottom: none; }

    .empty-state-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        line-height: 1.6;

        h2 {
            margin: 0 0 2rem;
            font-size: 16px;
        }

        p {
            max-width: 350px;
            margin: 0 0 2rem;
        }
    }
}

.admin-list-item {
    padding: 1.2rem 0.75rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    i.active   { color: $progress-active; }
    i.inactive { color: $progress-inactive; }

    .progress-bar {
        width: 220px;
        height: 6px;
        background: hsl(0, 0, 90%);
        border-radius: 4px;
        overflow: hidden;

        .progress {
            display: block;
            background: $progress-active;
            height: 6px;
        }

        .progress-completed {
            background: linear-gradient(0deg, $purple-from, $purple-to);
        }
    }

    .grow {
        flex-grow: 1;
    }

    & > div {
        padding: 0 1.25rem;
        flex-shrink: 0;

        a {
            color: $text-on-light;
            font-weight: bold;
        }

        p {
            margin: 0 0 8px;
            font-size: 15px;
            color: $text-on-light;
        }

        p:last-child {
            margin-bottom: 0;
        }

        .dim  { color: lighten($text-on-light, 30%); }
    }

    .list-badge {
        margin-left: 0.5rem;
        background: $gold-from;
        padding: 2px 5px;
        border-radius: 2px;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
        color: $gold-text;
        text-transform: lowercase;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.04);
    }

    &.admin-list-item-placeholder {
        padding: 2.25rem 0;
        margin: 0.5rem 1.25rem 1.25rem;
        background: hsl(0, 0%, 99%);
        border-radius: 2px;

        &:last-child {
            margin-bottom: 0.5rem;
        }
    }

}

#promo-code-icon {
    padding: 0 0.75rem;
    i { font-size: 26px; }
}

#promo-code-code {
    font-weight: bold;
}

#promo-code-discount {
    font-weight: 500;
    font-size: 14px;
    text-align: right;
}

#order-reference,
#promo-code-code,
#user-name {
    font-weight: bold;
    display: flex;
    align-items: center;
}

#user-ip {
    font-family: "Roboto Mono", monospace;
    //color: lighten($text-on-light, 30%);
}

#order-reference {
    text-transform: uppercase;
}

#order-user {
    color: lighten($text-on-light, 30%);
    span { color: $text-on-light; }
}

#admin-badge,
#refunded-badge {
    background: $purple-from;
    color: $purple-text;
}

#active-badge {
    background: $green;
    color: $green-text;
}

#user-orders-badge,
#needs-shipping-badge {
    background: $teal;
    color: $teal-text;
}

#returned-badge {
    background: $orange;
    color: $orange-text;
}