.button,
.button-secondary {
    display: inline-block;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    padding: 0.8rem 1.4rem;
    text-decoration: none;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
}

.button {
    color: $gold-text;
    background: $gold-from;
    border-radius: 3px;
    transition: all 200ms;
    transform: translateY(0px);

    &.disabled {
        cursor: not-allowed;
    }

    &:not(.disabled):hover {
        transform: translateY(-1px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }

}

.button-secondary {
    color: lighten($text, 10%);
}