.flashes {
    position: fixed;
    top: 3.7rem;
    right: 0;
    padding: 0 1rem;
    pointer-events: none;
    width: 100%;
    max-width: 320px;
    z-index: 2000;
    list-style-type: none;
}

.flash {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, $gold-from, $gold-to);
    color: $gold-text;
    border-radius: 3px 3px;
    width: 100%;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    pointer-events: all;
    position: relative;
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;

    .material-icons {
        margin-right: 1rem;
        font-size: 20px;
    }

    &[fade] {
        opacity: 0;
        transform: translateX(100%);
    }

    & > *:last-child { margin-bottom: 0; }

}