.footer {
    position: relative;
    background: $slate;
    color: $slate-text;
    font-size: 15px;
    line-height: 1.6;
    margin: 7.5rem 0 0;

    .social-wrapper,
    .footer-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 3rem 1rem;
    }

    .social-wrapper {
        transform: translateY(-1.5rem);
        padding: 0;
        margin-bottom: -1.5rem;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.6;
            vertical-align: middle;
            padding: 0.75rem 1.25rem 0.75rem 1rem;
            margin-right: 1rem;

            svg {
                width:  24px;
                height: 24px;
                margin-right: 0.75rem;
                padding: 1px 0;
            }

            path { fill: $charcoal-text; }

            &#facebook {
                color: $facebook-colour;
                background: $facebook-background;
            }

            &#twitter {
                color: $twitter-colour;
                background: $twitter-background;

                svg { padding-top: 3px; }
            }

            &#instagram {
                color: $instagram-colour;
                background: $instagram-background;
            }
        }

        & > *:last-child { margin-right: 0; }
    }

    .footer-column {
        width: 190px;
        padding: 0 1rem 0 0;
        margin: 0;
        list-style-type: none;

        h2 {
            font-weight: bold;
            font-size: 17px;
            margin: 0 0 0.25rem;
        }

        li a {
            text-decoration: none;
            cursor: pointer;
            color: darken($slate-text, 8%);
            margin: 0.25rem 0;
            display: inline-block;

            &:hover {
                color: white;
            }
        }

        p {
            margin: 0 0 1rem;
        }

        &#payment-methods {
            width: 210px;

            i {
                font-size: 30px;
                display: inline-block;
                margin: 0.5rem 0;
            }
        }
    }

    .footer-base {
        background: $charcoal;

        .footer-wrapper {
            padding: 0.5rem 1rem;
            align-items: center;
            justify-content: space-between;
        }

        p {
            margin: 0;
            color: darken($charcoal-text, 10%);
        }

        img {
            margin-top: 2px;
            width: 170px;
        }

        a {
            line-height: 1.0;
            padding: 0.75rem 0;
        }
    }

}