.header-spacer {
    height: 56px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: $charcoal;
    color: $charcoal-text;
    z-index: 1000;

    .header-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0.25rem 1rem;
    }

    .logo {
        line-height: 1.0;
        padding: 0.75rem 0;
        margin-top: 2px;
        margin-right: 0.75rem;
        img { width: 175px; }
    }

    .search-wrapper {
        background: transparent;
        max-width: 280px;
        margin: 0 1rem;

        input[type="search"] {
            font-size: 13px;
            font-weight: 500;
            color: darken($charcoal-text, 5%);
            padding: 8px 12px;
            background: lighten($charcoal, 9%);
            appearance: textfield;

            &::placeholder {
                color: darken($charcoal-text, 25%);
            }
        }
    }

    .navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        .dropdown-trigger,
        .navigation-link {
            cursor: pointer;
            color: darken($charcoal-text, 8%);
            font-size: 15px;
            font-weight: bold;
            padding: 0.75rem 0.25rem;
            margin-right: 0.5rem;
            line-height: 1.0;
            vertical-align: middle;

            &:hover {
                color: $charcoal-text;
            }
        }

        .dropdown-trigger {
            display: flex;
            align-items: center;
            margin-right: 0.2rem;

            i {
                font-size: 20px;
                margin: -2px 0;
            }
        }

        .dropdown-wrapper {

            &:hover > .dropdown {
                display: block;
            }

            .dropdown {
                display: none;
                position: absolute;
                top: 48px;
                left: 0;
                right: 0;
                z-index: 1001;
                padding-top: 8px;

                & > div {
                    margin: 0;
                    background: $slate;
                    color: $slate-text;
                }
            }
        }
    }

    .basket-wrapper {
        margin-left: auto;

        .basket-trigger {
            cursor: pointer;
            padding: 0.6rem;
            position: relative;
            top: 4px;
            color: darken($charcoal-text, 8%);
            i { font-size: 24px; }

            &:hover {
                color: $charcoal-text;
            }

            .items-in-basket {
                position: absolute;
                top: 2px;
                right: 0;
                font-family: "Roboto Mono", monospace;
                font-size: 13px;
                font-weight: bold;
                color: $gold-text;
                line-height: 1.0;
                text-transform: lowercase;
                text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
                pointer-events: none;
                background: $gold-from;
                padding: 2px 4px;
                border-radius: 3px;
            }
        }
    }

    .products-dropdown {
        padding: 1.5rem;

        .categories {
            padding: 0;
            margin: 0;
            list-style-type: none;
            font-size: 15px;
            line-height: 1.6;

            h2 {
                font-weight: bold;
                font-size: 17px;
                margin: 0 0 0.25rem;
            }

            li a {
                text-decoration: none;
                cursor: pointer;
                color: darken($slate-text, 8%);
                margin: 0.25rem 0;
                display: inline-block;

                &:hover {
                    color: white;
                }
            }
        }
    }

}