.hero {
    text-align: center;
    color: $slate-text;
    background: $slate;
    padding: 5rem 0;
    margin: 0 0 7rem;

    .wrapper {
        position: relative;
    }

    h1 {
        margin: 0 0 2rem;
        font-family: "Roboto Slab", Helvetica, sans-serif;
        font-size: 3rem;
    }

    .featured-items {
        margin-top: 4rem;
        text-align: left;

        & > p {
            font-size: 15px;
            margin-bottom: 1.5rem;
        }
    }

}