.infinite-masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 2rem;
    margin: 0 0 2rem;

    .brick {
        position: relative;
        background: white;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
        //border: 1px solid hsl(0, 0%, 75%);
        overflow: hidden;
        border-radius: 3px;
        text-decoration: none;
    }

    .brick-footer {
        padding: 1.25rem;
        font-size: 15px;

        & > div {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            p { flex-shrink: 0; }
        }

        p {
            margin: 0 0 8px;
            color: lighten($text-on-light, 30%);
        }

        .name {
            color: $text-on-light;
            font-weight: 500;
        }

        & > *:last-child { margin-bottom: 0; }
    }

    .hidden-banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, $purple-from, $purple-to);
        color: $purple-text;
        font-size: 15px;
        font-weight: 500;
        padding: 0.5rem 0.75rem;

        i {
            font-size: 20px;
            margin-right: 0.5rem;
        }
    }

    .image-placeholder {
        width: 100%;
        height: 250px;
        background: #DDD;
    }
}