.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2rem;
    margin: 0 0 2rem;

    .brick {
        text-decoration: none;

        &:hover .brick-body {
            transform: translateY(-1px);
        }
    }

    .brick-body {
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 1rem;
        transition: all 300ms;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);

        .banners {
            position: absolute;
            top: 0;
            right: 0;
        }

        .banner {
            background: $gold-from;
            padding: 0.3rem 0.6rem 0.2rem;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.5;
            border-radius: 0 2px 0 2px;
            color: $gold-text;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }
    }

    .brick-footer {
        color: $text;
        font-size: 15px;
        text-align: center;
        margin-bottom: 1rem;

        p {
            margin: 0 0 0.2rem;
            flex-shrink: 0;
            line-height: 1.6;

            &.name {
                flex-grow: 1;
                font-weight: bold;
            }
        }

        .strike {
            color: lighten($text, 15%);
            margin-right: 0.25rem;
            text-decoration: line-through;
        }

        .discount {
            color: $bold-text;
        }
    }

    .image {
        width: 100%;
        background: #DDD;

        img {
            width: 100%;
            line-height: 1.0;
            vertical-align: middle;
        }
    }

}

.admin-masonry {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    .brick {
        position: relative;
        background: white;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
        border-radius: 2px;
        overflow: hidden;
    }

    .brick-footer {
        text-align: left;
        padding: 1.25rem;
        font-size: 15px;

        & > div {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            p { flex-shrink: 0; }
        }

        p {
            margin: 0 0 8px;
            color: lighten($text, 30%);
        }

        .name {
            color: $text;
            font-weight: 500;
        }

        & > *:last-child { margin-bottom: 0; }
    }

    .hidden-banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        background: linear-gradient(0deg, $purple-from, $purple-to);
        color: $purple-text;
        font-size: 15px;
        font-weight: 500;
        padding: 0.5rem 0.75rem;

        i {
            font-size: 20px;
            margin-right: 0.5rem;
        }
    }
}

.pagination {
    text-align: center;
}

.masonry-large {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2.5rem;
    margin: 0;

    .brick:hover .brick-body {
        transform: translateY(-2px);
    }

    .brick-footer {
        color: $slate-text;

        .discount {
            color: $slate-text;
        }
    }
}