.product-wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 6rem auto;
    width: 100%;
    max-width: 790px;
}

.display-picture {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin-right: 3rem;
    border-radius: 3px;
    overflow: hidden;

    img {
        line-height: 1.0;
        vertical-align: middle;
        width: 100%;
    }

    .banner {
        font-size: 15px;
        padding: 0.4rem 0.7rem 0.3rem;
    }
}

.product-info {
    width: 100%;
    line-height: 1.7;
    padding-top: 1rem;
    color: $text;
    align-self: center;

    & > * { margin: 2rem 0; }

    h1 {
        font-family: "Rubik", sans-serif;
        font-size: 36px;
        color: $bold-text;
        margin: 0;
        line-height: 1.4;
    }

    .category {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: bold;
        margin: 0;
        color: lighten($bold-text, 15%);
    }

    p {
        font-size: 15px;
    }

    .value {
        font-weight: bold;
        font-size: 20px;
        margin-top: 0.3rem;
        color: $gold-from;
        line-height: 1.2;
    }

    .strike {
        color: lighten($text, 20%);
        font-weight: normal;
        //margin-left: 0.2rem;
        //text-decoration: line-through;
        font-size: 14px;
    }

    .buttons {
        display: flex;
        margin: 3rem 0 2rem;

        & > * {
            margin-right: 1rem;
            &:last-child { margin-right: 0; }
        }
    }

    .cart-toggle,
    .wishlist-toggle {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        i {
            font-size: 22px;
            margin: -2px;
            margin-right: 0.5rem;
        }
    }

    .wishlist-toggle {
        background: transparent;
        border: 2px solid $text;
        color: $bold-text;
    }
}