.search-form {
    input[type="submit"] {
        @include hidden-visually;
    }
}

.search-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    background: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    overflow: hidden;

    input[type="search"] {
        font-family: "Roboto", Helvetica, sans-serif;
        font-size: 15px;
        //font-weight: 500;
        color: $text;
        line-height: 1.0;
        width: 100%;
        border: none;
        padding: 12px 12px 12px 52px;
        outline: none;

        &:focus + i {
            color: lighten($text, 10%);
        }
    }

    i {
        position: absolute;
        top: 0;
        font-size: 20px;
        color: lighten($text, 35%);
        transition: color 200ms;
        padding: 13px 1.1rem;
        pointer-events: none;
    }

}