<%= link_to edit_admin_user_path(user), class: 'admin-list-item' do %>

    <!-- User information -->
    <div class="grow">
        <p><%= user.name %></p>
        <p><%= user.email %></p>
        <p class="dim">Joined <%= local_time_ago user.created_at %>.</p>
    </div>

<% end %>