<% content_for :subtitle do %>Edit <%= @user.name %><% end %>

<div class="admin-content-header">
    <h1>Edit user</h1>
    <p>Be careful! Editing a user may result in undesired consequences.</p>
</div>

<%= render 'form' %>
