<% content_for :subtitle do %>Users<% end %>

<div class="admin-content-header">
    <h1>Users</h1>
    <p>Here you can view all of Luke Jamie's users.</p>
</div>

<div class="admin-content-tools">

    <div class="search-wrapper">
        <%= form_tag admin_users_path, method: :get, class: 'search-form' do %>
            <%= search_field_tag :query, params[:query], placeholder: 'Search users' %>
            <%= submit_tag 'Search' %>
        <% end %>
        <i class="material-icons">&#xE8B6;</i>
    </div>

</div>

<%= render layout: 'admin/admin_list', locals: { objects: @users, search_placeholder: 'Search users' } do %>
    <h2>There's nothing here...</h2>
    <p>...but tumbleweeds. I have no idea how you're seeing this though, as you need an account just to view this page...</p>
<% end %>