<% content_for :subtitle do %>Users<% end %>

<div class="admin-content-header">
    <h1>Users</h1>
    <p>Here you can view all of Luke Jamie's users.</p>
</div>

<% if not @users.empty? %>
    <div class="admin-list">
        <%= render @users %>
    </div>
<% else %>
    I'm empty
<% end %>

<%= paginate @users %>