<% content_for :subtitle do %>Products<% end %>

<div class="admin-content-header">
    <h1>Admin panel</h1>
    <p>Control everything about lukejamie.co.uk.</p>
</div>


<div class="quilt">

    <div class="quilt-item" id="orders-awaiting-shipping">
        <div class="quilt-item-header">
            <p>Orders awaiting shipping</p>
        </div>

        <div class="quilt-body"></div>
    </div>

    <div class="quilt-item" id="new-users">
        <div class="quilt-item-header">
            <p>New users</p>
        </div>

        <div class="quilt-body"></div>
    </div>

    <div class="quilt-item" id="low-stock-products">
        <div class="quilt-item-header">
            <p>Products with low stock</p>
        </div>

        <div class="quilt-body"></div>
    </div>

    <div class="quilt-item" id="active-promo-codes">
        <div class="quilt-item-header">
            <p>Active promotional codes.</p>
        </div>

        <div class="quilt-body"></div>
    </div>

</div>