<% content_for :subtitle do %>Products<% end %>

<div class="admin-content-header">
    <h1>Admin panel</h1>
    <p>Control everything about lukejamie.co.uk.</p>
</div>


<div class="quilt">

    <div class="quilt-item" id="orders">
        <div class="quilt-item-header">
            <p>Orders</p>
        </div>

        <div class="quilt-body"></div>
    </div>

    <div class="quilt-item" id="users">
        <div class="quilt-item-header">
            <p>Users</p>
        </div>

        <div class="quilt-body"></div>
    </div>

    <div class="quilt-item" id="products">
        <div class="quilt-item-header">
            <p>Products</p>
        </div>

        <div class="quilt-body"></div>
    </div>

    <div class="quilt-item" id="promo-codes">
        <div class="quilt-item-header">
            <p>Promotional codes</p>
        </div>

        <div class="quilt-body"></div>
    </div>

</div>