<% unless flash.empty? %>
    <ul class="flashes" data-turbolinks-permanent="1">
        <% flash.each do |key, value| %>
            <li class="flash flash-<%= key %>">
                <i class="material-icons">info</i>
                <span><%= value %></span>
            </li>
        <% end %>
    </ul>
<% end %>