<div class="list-header">

    <!-- Used to select all/none -->
    <div class="checkbox">
        <i class="material-icons">&#xE835;</i>
    </div>

    <p class="selected-item-count">0 selected</p>

    <!-- A group of bulk actions that can be applied to all currently selected items. -->
    <div class="bulk-actions">
        <%= capture &bulk_actions %>
    </div>

</div>