<% content_for :title do %>All products<% end %>

<div class="wrapper" style="margin-top: 3rem;">

    <div class="masonry">
        <%= render @products, cached: true %>
    </div>

    <%= paginate @products %>

</div>