<% content_for :title do %>Products<% end %>

<div class="hero">
    <div class="wrapper">
        <h1>All Products</h1>
        <p>View Luke Jamie's entire range of apparel, all in one place.</p>
    </div>
</div>

<div class="wrapper" style="margin-top: 3rem;">

    <div class="masonry">
        <%= render @products %>
    </div>

    <%= paginate @products %>
</div>