<% content_for :title do %>
    <%= content_for?(:subtitle) ? yield(:subtitle) + ' (Admin Panel)' : 'Admin Panel' %>
<% end %>

<% content_for :styles do %>
    body { background: hsl(0, 96%, 96%); }
<% end %>

<% content_for :content do %>

    <%= render 'admin/navigation' %>

    <div class="admin-content">
        <%= yield %>
    </div>

<% end %>

<%= render template: 'layouts/application' %>